{% extends 'base.html.twig' %}

{% block title %} Liste des produits et des categories {% endblock %}

{% block body %}
    <h1>Produits</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOM</th>
                <th>CATÉGORIE</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
            <tr>
                <td>{{produit.id}}</td>
                <td>{{produit.nom}}</td>
                <td>{{produit.categorie.nom}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <h1>Catégories</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOM</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
            <tr>
                <td>{{categorie.id}}</td>
                <td>{{categorie.nom}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Articles</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>TITRE</th>
                <th>CATÉGORIE</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{article.id}}</td>
                <td>{{article.titre}}</td>
                <td>{{article.articleCategorie.nom}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Articles Catégories</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOM</th>
            </tr>
        </thead>
        <tbody>
            {% for articleCategorie in articleCategories %}
            <tr>
                <td>{{articleCategorie.id}}</td>
                <td>{{articleCategorie.nom}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}